<!-- -*- mode: XML -*- -->
<!-- Launch file of the simulator node that is responsible for vehicle dynamics simulation in simulaton node -->
<launch>  
  <!-- Arguments -->
  <arg name="launched_vehicles" default="AI_car_01" />


  <!-- Launch the simulator nodes -->
  <group ns="SIMULATOR">
  <node name="simulator_node" pkg="simulator" type="simulator_node.py" output="screen">
  </node>
  </group>
</launch>