<!-- -*- mode: XML -*- -->
<launch>  
  <!-- Environment variables -->
  <env name="ROSLAUNCH_SSH_UNKNOWN" value="1" />

  <!-- Arguments -->
  <arg name="optitrack_ip" default="192.168.1.141" />
  <arg name="update_frequency" default="20.0" />
  <arg name="angle_gain" default="1" />
  <arg name="angle_offset" default="0.5" />
  <arg name="tracker_offset" default="0.06" />
  <arg name="car_id" default="RC_car_01" />
  <arg name="machine_ip" default="192.168.1.49" />
  <arg name="username" default="nvidia-car01" />
  <arg name="password" default="123456" />

  <!-- Launch the simulator nodes -->
  <group ns="$(arg car_id)">
  </group>
</launch>



